# http://www.gnu.org/software/automake

Makefile.in
test-blake2b*
test-driver
test-suite.log
blake2b

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/m4
Makefile
config.*

# http://www.gnu.org/software/libtool
.libs/
ar-lib
libtool
ltmain.sh
*.la

# http://www.gnu.org/software/gcc
*.o
*.lo
*.so
.deps/
.dirstamp

# https://netbeans.org/
.dep.inc
nbproject
